<%= form_for(@page) do |f| %>
<% if @page.errors.any? %>
<div id="error_explanation">
        <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

        <ul>
                <% @page.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
        </ul>
</div>
<% end %>

<div class="row">
        <div class="small-2 large-2 columns">
                <%= f.label :name  %><br>
        </div>
        <div class="small-6 large-6 columns">
                <%= f.text_field :name  , :placeholder => "name" %>
        </div>
</div>
<div class="row">
        <div class="small-2 large-2 columns">
                <%= f.label :title %><br>
        </div>
        <div class="small-6 large-6 columns">
                <%= f.text_area :title , :placeholder => "title" %>
        </div>
</div>
<div class="row">
        <div class="actions">
                <%= f.submit :class => "button" %>
        </div>
</div>
<% end %>
