<%= form_for(@page) do |f| %>
<% if @page.errors.any? %>
<div id="error_explanation">
        <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

        <ul>
                <% @page.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
        </ul>
</div>
<% end %>

<div class="row">
        <div class="small-2 large-2 columns" style="text-align:right">
                <%= f.label :name  %><br>
        </div>
        <div class="small-8 large-8 columns">
                <%= f.text_field :name  , :placeholder => "name" %>
        </div>
        <div class="small-2 large-2 columns"></div>
</div>
<div class="row">
        <div class="small-2 large-2 columns" style="text-align:right">
                <%= f.label :title %><br>
        </div>
        <div class="small-8 large-8 columns">
                <%= f.text_area :title , :placeholder => "title" %>
        </div>
        <div class="small-2 large-2 columns"></div>
</div>
<div class="row">
        <div class="small-2 large-2 columns">
        </br>
        </div>
        <div class="small-8 large-8 columns">
                <div class="actions">
                        <%= f.submit :class => "button" %>
                </div>
        </div>
        <div class="small-2 large-2 columns">
        </br>
        </div>
</div>
<% end %>
